<?php

$g_csgo = array('1v1','2v2','3v3','4v4','5v5');

$g_1v1 = array('cs_italy','cs_office','de_aztec','de_dust','de_dust2','de_inferno','de_nuke','de_train');
$g_2v2 = array('cs_italy','cs_office','de_aztec','de_dust','de_dust2','de_inferno','de_nuke','de_train');
$g_3v3 = array('cs_italy','cs_office','de_aztec','de_dust','de_dust2','de_inferno','de_nuke','de_train');
$g_4v4 = array('cs_italy','cs_office','de_aztec','de_dust','de_dust2','de_inferno','de_nuke','de_train');
$g_5v5 = array('cs_italy','cs_office','de_aztec','de_dust','de_dust2','de_inferno','de_nuke','de_train');

$g_skill = array('low','med','high','pro');

$server1 = array('88.159.160.153:27004','scrim','Aero.Rcon');
$server2 = array('88.159.160.153:27006','scrim','Aero.Rcon');
$g_serverlist = array( 'server1','server2' );

?>