<?php

$g_brink = array('4v4','5v5','6v6');

$g_4v4 = array('area22','ark','island','refinery','salvage','sewer','volcano');
$g_5v5 = array('area22','ark','island','refinery','salvage','sewer','volcano');
$g_6v6 = array('area22','ark','island','outskirts','refinery','salvage','sewer','valley','volcano');

$g_skill = array('low','med','high','pro');

$server1 = array('12.345.67.890:27735','password','rconpw');
$server2 = array('12.345.67.890:27736','password','rconpw');
$g_serverlist = array('server1','server2');

?>